.portrait {
  margin: auto;
  height: auto;
  width: 20%;
  border: solid black;
  border-width: 1px;
  padding: 2px;
}

.topstuff {
  text-align: center;
  display: block;
  border: solid black;
  border-width: 2px;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgb(225, 233, 239);
  font-weight: bold;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainstuff{
  border: solid black;
  border-width: 2px;
  box-sizing: border-box;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: rgb(201, 221, 236);
}
.name {
  font-weight: bold;
  color: rgb(45, 45, 132)
}

.card{
  border: solid black;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(225, 233, 239);
}

h4 {
  text-align: center;
  font-weight: bold;
}
video {
  display: block;
  float: right;
  margin-top: 10px;
}
